<h1>Stored Queries</h1>
<div id='stored_queries'>
<% if @record_filters.empty? -%>
  <p>There are no stored queries to display.</p>
<% else -%>
  <%= page_entries_info @record_filters %>
  <%= will_paginate @record_filters %>
  <table>
   <thead>
      <tr>
        <th>Show Records</th>
        <th>Share Query URL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
<%   @record_filters.each do |rf| -%>
     <tr>
      <td><%= link_to rf.name, records_path(record_filter_id: rf.id) %></td>
      <td><%= link_to 'share url', records_path(rf.query_parameters) %></td>
      <td><%= link_to 'show', rf %> <%= link_to '[x]', rf, class: 'remove_stored_query', method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
<%   end -%>
    </tbody>
  </table>
  <%= will_paginate @record_filters %>
<% end -%>
</div>
