<div id='records_nav'>
  <div id="records_context" style="display:none">
    <%= link_to 'filter', '#filter', id: 'filter', class: 'switch_records_context' %>
    <%= link_to 'upload', '#upload', id: 'upload', class: 'switch_records_context' %>
  </div>
  <%= form_for(@record_filter, {url: records_path, method: :get}) do |f| %>
    <% if @record_filter.errors.any? -%>
    <div id="error_explanation">
      <h2><%= pluralize(@record_filter.errors.count, "error") %> prohibited this record_filter from being saved:</h2>

      <ul>
      <% @record_filter.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
      </ul>
    </div>
    <% end -%>
    <fieldset class="project_annotation_fields">
      <span class="add_remove_annotation_filters">
        <%= f.fields_for :project_affiliation_filter_term do |paf| %>
            <%= paf.label :project_id %><%= paf.collection_select :project_id, @accessible_projects, :id, :to_s, {include_blank: true}, {class: 'record_filter_input', id: 'record_filter_affiliated_with_project' } %>
        <% end -%>
        <span>annotations</span>
        <%= link_to '[+]', url_for(params.merge({ add_annotation_filter: 1, remove_annotation_filters: nil} )), class: 'add_annotation_filter' %>
        <% unless @record_filter.annotation_filter_terms.empty? -%>
            <%= link_to 'start over', url_for(params.merge({ add_annotation_filter: nil, remove_annotation_filters: 1} )), class: 'remove_annotation_filters' %>
        <% end -%>
      </span>
      <div id="annotation_filters">
    <%= f.fields_for :annotation_filter_terms do |aft| %>
        <span class="annotation_filter_fields">
          <%= aft.label :context %><%= aft.text_field :context, class: 'record_filter_input annotation_context' %>
          <%= aft.label :term %><%= aft.text_field :term, class: 'record_filter_input annotation_term' %>
          <span id="annotation_creator_filter">
            <%= aft.label 'annotated by' %><%= aft.collection_select :created_by, @annotation_creators, :id, :to_s, {include_blank: true}, {class: 'record_filter_input annotation_creator'} %>
          </span>
        </span>
    <% end -%>
      </div>
    </fieldset>
    <fieldset class="record_attribute_filters">
      <span class="stacked_filters"><%= f.label :filename %><%= f.text_field :filename, class: 'record_filter_input' %></span>
      <span class="stacked_filters"><%= f.label 'md5' %><%= f.text_field :file_md5hashsum, class: 'record_filter_input' %></span>
      <span class="stacked_filters"><%= f.label 'content_type' %><%= f.text_field :file_content_type, class: 'record_filter_input' %></span>
      <span class="stacked_filters">
        <%= f.label 'Created by' %><%= f.collection_select :record_created_by, @record_creators, :id, :to_s, {include_blank: true}, {class: 'record_filter_input'} %>
      </span>
      <span class="stacked_filters">
        <span>Created</span>
        <%= f.label 'on' %> <%= f.text_field :record_created_on, class: 'record_filter_input' %>
        <%= f.label 'after' %>    <%= f.text_field :record_created_after, class: 'record_filter_input' %>
        <%= f.label 'before' %><%= f.text_field :record_created_before, class: 'record_filter_input' %>
      </span>
      <span class="stacked_filters">
        <span>Size</span>
        <%= f.label 'exactly' %><%= f.number_field :file_size, class: 'record_filter_input' %>
        <%= f.label 'below' %><%= f.number_field :file_size_less_than, class: 'record_filter_input' %>
        <%= f.label 'above' %><%= f.number_field :file_size_greater_than, class: 'record_filter_input' %>
      </span>
      <span class="stacked_filters">
        <%= f.label 'destroyed?' %>
    <% if @record_filter.is_destroyed.nil? -%>
        <%= f.label 'no' %><%= f.radio_button :is_destroyed, 'f', class: 'record_filter_input' %>
        <%= f.label 'yes' %><%= f.radio_button :is_destroyed, 1, class: 'record_filter_input' %>
        <%= f.label 'dont care' %><%= f.radio_button :is_destroyed, '', checked: 'checked', class: 'record_filter_input' %>
    <% elsif @record_filter.is_destroyed -%>
        <%= f.label 'no' %><%= f.radio_button :is_destroyed, 'f', class: 'record_filter_input' %>
        <%= f.label 'yes' %><%= f.radio_button :is_destroyed, 1, checked: 'checked', class: 'record_filter_input' %>
        <%= f.label 'dont care' %><%= f.radio_button :is_destroyed, '', class: 'record_filter_input' %>
    <% else -%>
        <%= f.label 'no' %><%= f.radio_button :is_destroyed, 'f', checked: 'checked', class: 'record_filter_input' %>
        <%= f.label 'yes' %><%= f.radio_button :is_destroyed, 1, class: 'record_filter_input' %>
        <%= f.label 'dont care' %><%= f.radio_button :is_destroyed, '', class: 'record_filter_input' %>
    <% end -%>
      </span>
    </fieldset>
    <%=
            content_tag :fieldset, class: 'save_and_submit' do
              f.submit( 'filter') + 'or' +
              f.submit( 'Save Query and filter') +
              'as' +
              f.text_field(:name, id: 'record_filter_name')
            end
      %>
  <% end -%>
</div>
<div id='stored_queries'>
  <h3>Stored Queries</h3>
  <ul>
<%  current_user.record_filters.order('record_filters.created_at desc').limit(10).each do |rf| -%>
  <li><%= link_to rf.name, records_path(record_filter_id: rf.id) %> <%= link_to 'share url', records_path(rf.query_parameters) %> <%= link_to '[x]', rf, class: 'remove_stored_query', method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end -%>
  <% if current_user.record_filters.count > 10 -%>
  <li><%= link_to 'more', record_filters_path %></li>
  <% end -%>
  </ul>
</div>
