<h1>Listing records</h1>

<div id='records_nav'>
  <%= form_for(@record_filter, {url: records_path, method: :get}) do |f| %>
<p class="alert">TODO</p>
    <%= f.submit 'Filter records' %>
  <% end %>
</div>
<%= 
  content_tag :div, class: 'dropzone' do
    content_tag :div, class: 'fallback' do
      link_to 'New Record', new_record_path
    end
  end if can? :new, Record 
%>
<div id='records'>
<% if @records.empty? %>
<p>There are no records to display.</p>
<% else %>
<%= page_entries_info @records %>
<%= will_paginate @records %>
<table>
  <thead>
    <tr>
<% if current_user %>
      <th>File Name</th>
      <th>Creator</th>
      <th>Content Available</th>
<% end %>
      <th>md5 Hash</th>
      <th>created</th>
      <th>projects</th>
      <th>annotations</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
<% if current_user %>
        <td><%= record.content_file_name %></td>
        <td><%= record.creator.name %></td>
        <td><%= !record.is_destroyed %></td>
<% end %>
        <td><%= record.content_fingerprint %></td>
        <td><%= record.created_at.httpdate %></td>
        <td><%= record.projects.collect {|p| link_to(p.name, p) }.join(', ').html_safe %>
        <td> <% if record.annotations.count > 0 -%> 
                   <%= link_to 'view', annotations_path(annotation_filter: {record_id: record.id}) %>
                 <% end -%>
                 <%= link_to 'new', new_record_annotation_path(record) if can? :new, record.annotations.build() %></td>
        <td><%= download_link(record) if can?(:download, record) && !record.is_destroyed? %></td>
        <td><%= link_to 'Show', record if can? :show, record %></td>
        <td><%= link_to 'Provenance', record_provenance_show_path(record_id: record.id, format: 'xml') %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, record) && !record.is_destroyed? %></td>
        <td>
         <% unless current_user.cart_records.where(record_id: record.id).exists? -%>
           <%= link_to 'Add to cart', cart_records_url(cart_record: {record_id: record.id}), method: :post, class: "add_to_cart" %>
        <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @records %>

<br>
<% end %>
</div>
